@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Komika";
  src: url("/fonts/Komika/KomikaTitle-Paint.woff2") format("woff2"),
    url("/fonts/Komika/KomikaTitle-Paint.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.komika {
  font-family: "Komika", "Comic Sans MS", sans-serif;
}
